<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.edu.hit.ftcl.wearablepc">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 用于写入缓存数据到扩展存储卡 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 用于申请调用A-GPS模块 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!-- 用于申请获取蓝牙信息进行室内定位 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
     
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 高德地图key -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="2020cf98c3a2ba5c3978c4774e8fd7bd" />
        <!-- &lt;!&ndash; 请填写应用实际的API_KEY &ndash;&gt; -->
        <!-- <meta-data android:name="com.baidu.speech.API_KEY" android:value="yKvRe5msnh055IQpMkHuaFGG"/> -->
        <!-- &lt;!&ndash; 请填写应用实际的SECRET_KEY &ndash;&gt; -->
        <!-- <meta-data android:name="com.baidu.speech.SECRET_KEY" android:value="vseKtoFBpErdNZsptUOEUYUXrLDrDfkY"/> -->

        <activity android:name=".Security.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MyGridView.IndexActivity" />
        <activity android:name=".GDMap.mapview.MapActivity" />
        <activity android:name=".GDMap.offlinemap.OfflineMapActivity" />
        <activity
            android:name=".Communication.VoiceActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".Communication.SettingsActivity"
            android:label="@string/title_activity_voice_settings" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="cn.edu.hit.ftcl.wearablepc.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".Sensor.SensorActivity" />
        <activity android:name=".WifiCamera.FtpFileListActivity" />
        <activity android:name=".WifiCamera.DownloadPlayActivity" />

        <service
            android:name=".Communication.VoiceReceiveService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".Sensor.SensorReceiveService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".VoiceControl.VoiceControlActivity" />
        <activity android:name=".Secret.SecretActivity" />
        <activity
            android:name=".Secret.ExpressionListActivity"
            android:label="@string/title_activity_expression_list" />
        <activity
            android:name=".Secret.ExpressionEditActivity"
            android:label="@string/title_activity_expression_edit" />
        <activity
            android:name=".Secret.ExpressionAddActivity"
            android:label="@string/title_activity_expression_add" />
        <activity
            android:name=".Network.UserIPListActivity"
            android:label="@string/title_activity_user_ip_list" />
        <activity
            android:name=".Network.UserIPAddActivity"
            android:label="@string/title_activity_user_ip_add" />
        <activity
            android:name=".Network.UserIPEditActivity"
            android:label="@string/title_activity_user_ip_edit" />
        <activity
            android:name=".Secret.SecretListActivity"
            android:label="@string/title_activity_secret" />
        <activity
            android:name=".Image.ImageManageActivity"
            android:label="@string/title_activity_image_manage"/>
    </application>

</manifest>